# Creating a DataFrame

In [1]:
#Createing DataFrame fro List of Lists

In [6]:
import pandas as pd

In [2]:
list_data = [["C1", 5, "Jakarta"], ["C2", 10, "Bogor"], ["C3", 7, "Tangerang"], ["C4", 0, "Jakarta"]]

In [4]:
df = pd.DataFrame(list_data, columns = ["cust_id", "item_bought", "city"])
df

  cust_id  item_bought       city
0      C1            5    Jakarta
1      C2           10      Bogor
2      C3            7  Tangerang
3      C4            0    Jakarta

In [5]:
#Creating DataFrame from Numpy Array

In [5]:
import numpy as np

In [7]:
numpy_data = np.array(list_data)
numpy_data

array([['C1', '5', 'Jakarta'],
       ['C2', '10', 'Bogor'],
       ['C3', '7', 'Tangerang'],
       ['C4', '0', 'Jakarta']], dtype='<U11')

In [8]:
df = pd.DataFrame(numpy_data, columns = ["cust_id", "item_bought", "city"])
df

  cust_id item_bought       city
0      C1           5    Jakarta
1      C2          10      Bogor
2      C3           7  Tangerang
3      C4           0    Jakarta

In [9]:
#Creating DataFrame from Dictionary

In [3]:
dict_data = { "cust_id": ["C1", "C2", "C3", "C4"],
             "item_bought": [5,10,7,10],
             "city": ["Jakarta", "Bogor", "Tangerang", "Jakarta"]}

dict_data

{'cust_id': ['C1', 'C2', 'C3', 'C4'],
 'item_bought': [5, 10, 7, 10],
 'city': ['Jakarta', 'Bogor', 'Tangerang', 'Jakarta']}

In [7]:
df = pd.DataFrame(dict_data)
df

  cust_id  item_bought       city
0      C1            5    Jakarta
1      C2           10      Bogor
2      C3            7  Tangerang
3      C4           10    Jakarta

In [1]:
#Saving a DataFrame

In [8]:
df

  cust_id  item_bought       city
0      C1            5    Jakarta
1      C2           10      Bogor
2      C3            7  Tangerang
3      C4           10    Jakarta

In [9]:
df.to_csv("customer_info.csv", index = False)

In [10]:
df.to_excel("customer_info.xlsx", index = False)

In [11]:
#Load a DataFrame

In [ ]:
df = pd.read_csv("customer_info.csv")